
.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.home-header {
    color: #51BEF4;
    font-size: 35px;
    text-decoration: underline solid #51BEF4 2px;
}

.home-text {
    color: #ffffff;
    line-height: 2em;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 14px;
}

.home-subheader {
    color:#51BEF4;
    text-decoration: underline solid #51BEF4;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 30px;
}