.cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Adjust height as needed */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  /* Logo styling */
  .logo a {
    font-size: 3rem;
    font-weight: bold;
    color: #51BEF4;
    text-decoration: none;
  }
  
  /* Horizontally align nav-links */
  .nav-links {
    display: flex; /* Aligns links horizontally */
    gap: 3rem; /* Adds space between links */
    color: #ffffff;
    font-size: 20px;
  }
  
  /* Link styling */
  .nav-link {
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
  }
  
  /* Active link underline effect */
  .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  
  .nav-link:hover {
    text-decoration: underline #51BEF4;
    color:#51BEF4;
  }
  